<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Spring Framework Library Application">
    <meta name="author" content="Ruslan Dobrov">
    <title>Functionality</title>
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/css/cover.css" rel="stylesheet">
</head>
<body class="d-flex h-100 text-center text-bg-dark">
<div class="w-100 h-100">
    <header class="cover-container d-flex p-3 mx-auto flex-column mb-auto">
        <div>
            <h3 class="float-md-start mb-0">Spring Library Application</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link fw-bold py-1 px-0" href="/people">People</a>
                <a class="nav-link fw-bold py-1 px-0" href="/books">Books</a>
                <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/">About</a>
            </nav>
        </div>
    </header>
    <main class="px-3 details">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-1"></div>
            <div class="col-lg-8 col-md-8 col-sm-10">
                <h1>Functionality:</h1>
                <ul class="lead">
                    <li>pages for adding, changing and deleting a person</li>
                    <li>pages for adding, editing and deleting a book</li>
                    <li>page with a list of all people (people are clickable - when clicked, go to person's page)</li>
                    <li>page with a list of all books (books are clickable - when clicked, go to book page)</li>
                    <li>a person's page showing the values of his fields and a list of the books he has taken</li>
                    <li>page of a book showing the values of the margins of that book and the person's name, who took this book</li>
                    <li>on the book page, if the book is taken by a person, a button appears next to his name "Release book"</li>
                    <li>on the book page, if the book is free, a drop-down list appears with all people and the "Assign Book" button</li>
                    <li>all input fields are validated using @Valid and Spring Validator</li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-1"></div>
        </div>
    </main>
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="lead d-inline-block me-lg-2">
                    <a href="technologies.html" class="btn btn-lg btn-light fw-bold border-white bg-white">Technologies</a>
                </p>
                <p class="lead d-inline-block">
                    <a href="/" class="btn btn-lg btn-light fw-bold border-white bg-white">About</a>
                </p>
            </div>
        </div>
    </div>
    <footer class="mt-auto text-white-50 fixed-bottom">
        <p>Created by <a href="https://www.linkedin.com/in/ruslan-dobrov/" class="text-white">Ruslan Dobrov</a>, 2023</p>
    </footer>
</div>
<script src="/resources/js/bootstrap.bundle.min.js"></script>
</body>
</html>