<th:block xmlns:th="http://www.thymeleaf.org" th:replace="templates/fragments :: header"></th:block>
<main class="px-3 details">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-1"></div>
        <div class="col-lg-8 col-md-8 col-sm-10">
            <form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
                <div class="form-floating mb-3 error">
                    <input class="form-control" id="fullName" th:field="*{fullName}"/>
                    <label class="text-dark" for="fullName">Full name</label>
                    <div class="error" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></div>
                </div>
                <div class="form-floating mb-3 error">
                    <input class="form-control" type="text" id="birthYear" th:field="*{birthYear}"/>
                    <label class="text-dark" for="birthYear">Year of birth</label>
                    <div class="error" th:if="${#fields.hasErrors('birthYear')}" th:errors="*{birthYear}"></div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <p class="lead d-inline-block">
                            <input class="btn btn-lg btn-light fw-bold border-white bg-white"
                                   type="submit" value="Edit"/>
                        </p>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-1"></div>
    </div>
</main>
<th:block xmlns:th="http://www.thymeleaf.org" th:replace="templates/fragments :: footer"></th:block>