<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Показать человека</title>
</head>
<body>

    <p th:text="${person.getName() + ', ' + person.getYear()}"/>
    <p th:if="${personBooks.isEmpty()}">Человек пока не взял ни одной книги</p>
    <p style="font-weight: bold; margin-bottom: 0px" th:if="${not personBooks.isEmpty()}">Книги:
        <div th:each="book : ${personBooks}">
            <p style="margin: 0px" th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}"/>
        </div>
    </p>

    <form style="margin-bottom: 5px" th:action="@{/people/{id}/edit(id=${person.getId()})}">
        <button>Редактировать</button>
    </form>

    <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
        <input type="submit" value="Удалить"/>
    </form>

</body>
</html>