<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Spring Framework Library Application">
    <meta name="author" content="Ruslan Dobrov">
    <title>Edit book</title>
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/css/cover.css" rel="stylesheet">
</head>
<body class="d-flex h-100 text-center text-bg-dark">
<div class="w-100 h-100">
    <header class="cover-container d-flex p-3 mx-auto flex-column mb-auto">
        <div>
            <h3 class="float-md-start mb-0">Spring Library Application</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link fw-bold py-1 px-0" href="/people">People</a>
                <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/books">Books</a>
                <a class="nav-link fw-bold py-1 px-0" href="/">About</a>
            </nav>
        </div>
    </header>

    <main class="px-3 details">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-1"></div>
            <div class="col-lg-8 col-md-8 col-sm-10">
                <form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
                    <div class="form-floating mb-3 error">
                        <input class="form-control" type="text" th:field="*{title}" id="title">
                        <label class="text-dark" for="title">Title</label>
                        <div class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"/>
                    </div>
                    <div class="form-floating mb-3 error">
                        <input type="text" class="form-control" th:field="*{author}" id="author">
                        <label class="text-dark" for="author">Author</label>
                        <div class="error" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"/>
                    </div>
                    <div class="form-floating mb-3 error">
                        <input type="text" class="form-control" th:field="*{year}" id="year">
                        <label class="text-dark" for="year">Year</label>
                        <div class="error" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"/>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <p class="lead d-inline-block">
                                <input type="submit" class="btn btn-lg btn-light fw-bold border-white bg-white" value="Update"/>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-1"></div>
        </div>
    </main>
    <footer class="mt-auto text-white-50 fixed-bottom">
        <p>Created by <a href="https://www.linkedin.com/in/ruslan-dobrov/" class="text-white">Ruslan Dobrov</a>, 2023</p>
    </footer>
</div>
<script src="/resources/js/bootstrap.bundle.min.js"></script>
</body>
</html>



<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Обновить книгу</title>-->
<!--</head>-->
<!--<body>-->

<!--<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">-->

<!--    <label for="title">Введите название книги: </label>-->
<!--    <input type="text" th:field="*{title}" id="title"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"/>-->
<!--    <br/>-->

<!--    <label for="author">Введите автора: </label>-->
<!--    <input type="text" th:field="*{author}" id="author"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"/>-->
<!--    <br/>-->

<!--    <label for="year">Введите год: </label>-->
<!--    <input type="text" th:field="*{year}" id="year"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"/>-->
<!--    <br/>-->

<!--    <input type="submit" value="Обновить"/>-->

<!--</form>-->

<!--</body>-->
<!--</html>-->