<th:block xmlns:th="http://www.thymeleaf.org" th:replace="templates/fragments :: header"></th:block>
<main class="px-3">
    <div class="row mt-5">
        <div class="col-lg-3 col-md-3 col-sm-2"></div>
        <div class="col-lg-6 col-md-6 col-sm-8">
            <h1 th:text="${book.getTitle() + ', '
                         + book.getAuthor() + ', '
                         + book.getYearPublished()
                         + '. Quantity: '
                         + book.getTotalQuantity()}">
            </h1>
            <div class="container mt-2">
                <div class="row">
                    <div class="col">
                        <form class="lead d-inline-block me-lg-2"
                              th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
                            <input class="btn btn-lg btn-light fw-bold border-white bg-white"
                                   type="submit" value="Edit"/>
                        </form>
                        <form class="lead d-inline-block"
                              th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
                            <input class="btn btn-lg btn-danger fw-bold border-white bg-danger"
                                   type="submit" value="Delete"/>
                        </form>
                    </div>
                </div>
            </div>

            <div class="lead mt-5" th:if="${book.getTotalQuantity() != 0}">
                <h3>To whom should she be assigned?</h3>

                <div class="row mt-2 justify-content-center">
                    <div class="col-lg-2 col-md-2 col-sm-1"></div>
                    <div class="col-lg-8 col-md-8 col-sm-10 mt-2 d-flex justify-content-center">
                        <form class="d-flex" role="search" th:method="GET" th:action="@{/books/{id}(id=${book.getId()})}">
                            <input class="form-control form-control-lg me-2" type="search" placeholder="Enter the name..." aria-label="Search" th:name="query" />
                            <button class="btn btn-lg btn-light fw-bold border-white bg-white" type="submit">Search</button>
                        </form>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-1"></div>
                </div>

                <div class="container mt-2" id="peopleTable"
                     th:if="${people != null && !people.isEmpty()}">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-1"></div>
                        <div class="col-lg-8 col-md-8 col-sm-10 mt-2 text-center">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Full Name</th>
                                    <th>Year of birth</th>
                                    <th>Detail</th>
                                </tr>
                                </thead>
                                <tbody th:each="person : ${people}">
                                <tr class="align-middle">
                                    <td th:text="${person.getFullName()}"></td>
                                    <td th:text="${person.getBirthYear()}"></td>
                                    <td>
                                        <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
                                            <input type="hidden" name="book_id" th:value="${book.getId()}" />
                                            <input type="hidden" name="person_id" th:value="${person.getId()}" />
                                            <input class="btn btn-md btn-primary"
                                                   type="submit" value="Assign"/>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-1"></div>
                    </div>
                </div>

            </div>

            <div class="lead mt-5" th:if="${!owners.isEmpty()}">
                <h3>The book is now:</h3>
                <div class="mt-2 mb-2" th:each="owner : ${owners}">
                    <p class="display-inline" th:text="${owner.getFullName()}"></p>
                    <form class="display-inline"
                          th:method="PATCH"
                          th:action="@{/books/{book_id}/release/{person_id}(book_id=${book.getId()}, person_id=${owner.getId()})}">
                        <input class="btn btn-lg btn-light fw-bold border-white bg-white display-inline"
                               type="submit" value="Free book"/>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-2"></div>
    </div>
</main>
<th:block xmlns:th="http://www.thymeleaf.org" th:replace="templates/fragments :: footer"></th:block>