<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Показать все книги</title>
</head>
<body>

    <p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}"/>

    <p th:if="${book.getPerson_id() == -1}">Эта книга совбодна. Кому назначить ее?</p>

    <form th:method="POST" th:if="${book.getPerson_id() == -1}" th:action="@{/books/{id}/takeOn(id=${book.getId()})}">
        <label>Выберите человека:</label>
        <select th:name="person_id">
            <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getName()}"/>
        </select>

        <input type="submit" value="Назначить книгу" />
    </form>

    <form th:method="PATCH" th:if="${book.getPerson_id() != -1}" th:action="@{/books/{id}/takeOff(id=${book.getId()})}">
        <p />
        <input type="submit" value="Освободить книгу" />
    </form>

    <hr/>

    <form style="margin-bottom: 5px" th:action="@{/books/{id}/edit(id=${book.getId()})}">
        <button>Редактировать</button>
    </form>
    <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
        <input type="submit" value="Удалить"/>
    </form>

</body>
</html>