<th:block xmlns:th="http://www.thymeleaf.org" th:replace="templates/fragments :: header"></th:block>
<main class="px-3">
    <div class="row mt-5">
        <div class="col-lg-3 col-md-3 col-sm-2"></div>
        <div class="col-lg-6 col-md-6 col-sm-8">
            <h1>What is this "Spring Library Application" about?</h1>
            <p class="lead">
                The local library wants to switch to digital book counting,
                I have implemented a web application for them.
                Librarians have the opportunity to register readers,
                give them books and release the books after the reader
                returns book back to the library.
            </p>
            <p class="lead">
                To start using the app, enter books in the "Books" section and enter people in the "People" section.
                You can also find books in the "Search" section.
            </p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-2"></div>
    </div>
</main>
<th:block xmlns:th="http://www.thymeleaf.org" th:replace="templates/fragments :: footer"></th:block>