<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Spring Framework Library Application">
    <meta name="author" content="Ruslan Dobrov">
    <title>Spring Framework Library Application</title>
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/css/cover.css" rel="stylesheet">
    <link href="/resources/icons/bootstrap-icons.css" rel="stylesheet">
</head>
<body class="d-flex h-100 text-center text-bg-dark">
<div class="w-100 h-100">
    <header class="cover-container d-flex p-3 mx-auto flex-column mb-auto">
        <div>
            <h3 class="float-md-start mb-0"><a class="nav-link" href="/">Spring Library Application</a></h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link fw-bold py-1 px-0" href="/people">People</a>
                <a class="nav-link fw-bold py-1 px-0" href="/books">Books</a>
                <a class="nav-link fw-bold py-1 px-0" href="/search">Search</a>
            </nav>
        </div>
    </header>
    <main class="px-3">
        <div class="row mt-5">
            <div class="col-lg-3 col-md-3 col-sm-2"></div>
            <div class="col-lg-6 col-md-6 col-sm-8">
                <h1>What is this "Spring Library Application" about?</h1>
                <p class="lead">
                    The local library wants to switch to digital book counting, I have implemented a web application for them.
                    Librarians have the opportunity to register readers, give them books and release the books after the reader
                    returns book back to the library.
                </p>
                <p class="lead">To start using the app, enter books in the "Books" section and enter people in the "People" section.
                                You can also find books in the "Search" section.
                </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-2"></div>
        </div>
    </main>
</div>
<script src="/resources/js/bootstrap.bundle.min.js"></script>
</body>
</html>